
.primary {
    background: #009bdb;
    border: solid 1px #009bdb;
    color: #fff;
}

.alert {
    background: rgb(255,130,0);
    color: #fff;
}

.minor-alert {
    background: #ffd400;
}

.danger, .table tr.danger {
    background-color: #f00;
    color: #fff;
}

.minor-danger {
    background-color: #f76464;
    color: #fff;
}

.info {
    background-color: #3581FB;
    /*border: solid 1px #3581FB;*/
    color: white;
    background-image: none;
}

.clean {
    border: solid 1px #ddd;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
}

.success, .table tr.success {
    background: rgb(111,191,0);
    color: #fff;
}

.clean:hover {
    box-shadow: 2px 2px 3px RGBA(0,0,0,0.1);
}