:root {
    --color-primary : #009bdb;
    --color-alert : rgb(255,130,0);
    --color-minor-alert: #ffd400;
    --color-danger : #f00;
    --color-minor-danger : #f76464;
    --color-info : #009bdb;
    --color-success : rgb(111,191,0);
    --color-clean: #fff;
    --color-text-alt: #fff;
}

.primary {
    background: var(--color-primary);
    border: solid 1px var(--color-primary);
    color: var(--color-text-alt);
}

.alert {
    background: var(--color-alert);
    color: var(--color-text-alt);
}

.minor-alert {
    background: var(--color-minor-alert);
}

.danger, .table tr.danger {
    background-color: var(--color-danger);
    color: var(--color-text-alt);
}

.minor-danger {
    background-color: var(--color-minor-danger);
    color: var(--color-text-alt);
}

.info {
    background-color: var(--color-info);
    color: var(--color-text-alt);;
    background-image: none;
}

.clean {
    border: solid 1px #ddd;
    background-color: var(--color-clean);
    background-image: none;
    box-shadow: none;
}

.clean:hover {
    box-shadow: 2px 2px 3px RGBA(0,0,0,0.1);
}

.success, .table tr.success {
    background: var(--color-success);
    color: var(--color-text-alt);
}

.primary a, .danger a, .minor-alert a, .minor-danger a, .info a, .success a {
    color: var(--color-text-alt);
}

.primary i, .danger i, .minor-alert i, .minor-danger i, .info i, .success i {
    color: var(--color-text-alt);
}