
i.fa.filter-menu {
    position: absolute;
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 9px;
    right: 0;
    margin-top: 0;
    cursor: pointer;
    background: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.2s ease-in-out;
    max-height: 400px;
    margin-right: 0;
    border-radius: 50%;
}

i.fa.filter-menu:active {
    background: #ccc;
}

i.fa.filter-menu .blend-floating-menu {
    top: 33px;
    right: 6px;
    max-height: 80vh;
    overflow-y: scroll;
}

i.fa.filter-menu .blend-floating-menu li {
    line-height: 24px;
    position: relative;
    text-indent: 10px;
}

i.fa.filter-menu .blend-floating-menu li span {
    display: block;
    margin-right: 10px;
}

i.fa.filter-menu .blend-floating-menu li span .fa-trash, #icon-save-new-item {
    position: absolute;
    margin-right: 0;
    line-height: 22px;
    text-align: center;
    top: 2px;
    right: 32px;
    width: 22px;
}

i.fa-thumbtack.filter-menu {
    right: 30px;
    margin-top: 1px;
    font-size: 26px;
}

.filterInput.integer, .filterInput.float {
    min-width: inherit;
    /*width: 35%;*/
}

.fixed-filter-interval {
    width: 49%;
}

.removeFilter {
    cursor: pointer;
    padding: 4px 0px;
    position: absolute;
    right: -8px;
    top: 30px;
    font-size: 18px !important;
}

.addFilter {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 9px;
}

.fa.trashFilter {
    cursor: pointer;
    margin-right: 0;
    margin-left: 4px;
    margin-top: 10px
}

i.fa.filter-menu .blend-floating-menu li.advanced-filter-menu-group {
    font-weight: 500;
    text-indent: 0px;
    line-height: 33px;
}

#fm-filters {
    min-width: 300px;
    max-width: 300px;
}

#advanced-filter-span {
    display: none;
}

.blend-floating-menu li i.fa.filter-group-arrow {
    float: right;
    height: 30px;
    line-height: 30px ;
    width: 20px;
}