i.fa.filter-menu {
    position: absolute;
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 9px;
    right: 0;
    margin-top: 0;
    cursor: pointer;
    background: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.2s ease-in-out;
    max-height: 400px;
    margin-right: 0;
    border-radius: 50%;
}

i.fa.filter-menu:active {
    background: #ccc;
}

#popupSearchField .blend-floating-menu {
    position: relative;
}

#popupSearchField .blend-floating-menu li {
    line-height: 24px;
    position: relative;
    text-indent: 10px;
}

#popupSearchField .blend-floating-menu li span {
    display: block;
    margin-right: 10px;
}

#popupSearchField .blend-floating-menu li span .fa-trash, #icon-save-new-item {
    position: absolute;
    margin-right: 0;
    line-height: 22px;
    text-align: center;
    top: 2px;
    right: 32px;
    width: 22px;
}

i.fa-thumbtack.filter-menu {
    right: 30px;
    margin-top: 1px;
    font-size: 26px;
}

i.fa-layer-group.filter-menu {
    right: 60px;
    margin-top: 1px;
    font-size: 23px;
}

.filterCondition {
    width: 30%;
    float:left;
    box-sizing: border-box;
    font-size: 13px;
}

.filterInput {
    font-size: 13px;
    width: calc(70% - 40px);
    float: left;
    box-sizing: border-box;
}

.filterInterval {
    width: 32%;
    font-size: 10px;
}

.filterInput.integer, .filterInput.float {
    min-width: inherit;
}

.fixed-filter-interval {
    width: 49%;
}

.fa.removeFilter {
    position: absolute;
    cursor: pointer;
    padding: 4px 0px;
    position: absolute;
    top: 4px;
    right: -5px;
    font-size: 13px;
}

.fa.addFilter {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 17px;
    width: 15px;
    font-size: 13px;
    margin-right: 0;
}

.fa.trashFilter {
    position: absolute;
    cursor: pointer;
    margin-right: 0;
    right: 4px;
    margin-top: 10px;
    font-size: 13px;
}

#popupSearchField .blend-floating-menu li.advanced-filter-menu-group {
    font-weight: 500;
    text-indent: 0px;
    line-height: 33px;
}

.advanced-filter-span {
    display: none;
}

.blend-floating-menu li i.fa.filter-group-arrow {
    float: right;
    height: 30px;
    line-height: 30px ;
    width: 20px;
}

.filters-tooltip {
    font-size: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.filters-tooltip i {
    font-weight: bold;
}

.filterLabel {
    text-align: left;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 80%;
}

.filterLabel small {
    font-size: 10px;
}

.column-list-holder {
    height: 50vh !important;     
}

.tab-filters-right {
    border-radius: 5px;
    width: 49%;
    margin-right: 0;
    margin-top: 0;
    overflow: hidden;
}

.filterField {
    text-align: left;
    width: 220px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
    position: relative;
    padding-bottom: 16px;
}

.filter-field-header {
    font-weight: bold;
}

.tab-filters-right .filterField {
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 0;
}

.tab-filters-right .filterField:last-child {
    border-bottom: none;
}

.tab-filters-right .filterField .filterLabel {
    width: 40%;
    float:left;
    font-size: 13px;
    text-indent: 6px;
    height: 29px;
    line-height: 29px;
}

.tab-filters-right .filterField .filterBase, 
.tab-filters-right .filterField .filterBase-cloned  {
    width: 60%;
    float:right;
}

.tab-filters-right .filterField .filterInput {
    border-top: none;
    border-bottom: none;
    height: 29px;
    line-height: 29px;
}

.tab-filters-right .filterField .filterCondition {
    border-top: none;
    border-bottom: none;
    height: 29px;
    line-height: 29px;
}


#buscar {
    margin:0;
    margin-bottom: 16px;
}

#buscar i {
    margin-right: 0;
}

.btn.btn-search-clear {
    background-color: transparent;
}

.columns-holder-outter {
    margin-right: 0;
    width: 49%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0;  
}

.grid-addcolumn-field {
    background-color: #fff;
    position: relative;
    border-bottom: solid 1px #ccc;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    text-indent: 6px;
}

.grid-addcolumn-field-group {
    font-style: italic;
}

.grid-addcolumn-field:hover {
    background-color: #eee;
}

.grid-addcolumn-field .grid-addcolumn-icon {
    float: right;
    margin-top: 8px;
    margin-right: 4px !important;
}

.grid-group-by-left-holder {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.grid-savedlist-holder {
    border: solid 1px #ccc; 
    border-radius: 5px;
    overflow: hidden;
}

.grid-group-by-right-holder{
    border-radius: 5px;
    overflow: hidden;
}

.exportColumns br {
    display: none;
}

#tab-holder-search-field .grid {
    margin-top: 0;
    width: 100%;
}

#tab-holder-search-fieldBody .tabBody {
    padding-top: 0;
}

#tab-filters-left, #columns-definition, #left, #right,#bookmark-holder {
    margin-top: 0;
}

.btn.small.btn-search-bookmark {
    color: #111;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: var(--brighterColor);
}

@media screen and (max-width: 800px) {
    #main-search {
        width: 30%;
    }
    
    #tab-filters-left, .tab-filters-right, #columns-definition, #left, #right,#bookmark-holder,.columns-holder-outter {
        width: 98%;
        margin-left: 1%;
    }
    
    #tab-holder-search-field .tabHead .item {
        width: 20%;
        margin: 0;
    }
    
    #btn-search-bookmark-holder {
        text-align: center;
    }
}
    
