
.blend-floating-menu-holder {
    position: relative;
}

.blend-floating-menu-holder:hover {
    opacity: 1.0;
}

.btn .blend-floating-menu {
    right: 0;
    top: 30px;
}

.blend-floating-menu {
    box-shadow: 0 0 1px 1px RGBA(0,0,0,0.3);
    display: inline-block;
    border: none;
    list-style: none;
    overflow: hidden;
    position: fixed;
    box-shadow: -1px 1px 1px RGBA(0,0,0,0.2);
    background-color: #fff;
    z-index: 99;
    font-weight: normal;
    height: calc(100vh - 49px);
    top: 49px;
    right: 0;
    width: 0;
}

.blend-floating-menu li {
    padding: 2px 14px;
    cursor: pointer;
    text-align: left;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    box-sizing: border-box;
}

.blend-floating-menu-title {
    background: #eee;
    height: 38px;
    line-height: 34px;
}

.blend-floating-menu span {
    display: inline-block;
    white-space: nowrap;
}

.blend-floating-menu a {
    float:left;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
    color: #555;
    margin-left: 0;
    display: block;
    padding: 0 !important;
}

.blend-floating-menu i {
    border-right: none !important;
    border-left: none !important;;
}

.blend-floating-menu li .fa, .blend-floating-menu li .fab {
    width: 14px;
    text-align: center;
}

.action-list-open .action-list, .blend-floating-menu.open {
    display: block;
    width: 260px;
    opacity: 1;
    transition: 0.1s ease-in-out width;
}

.action-list {
    position: fixed;
    right: 0;
    background: white;
    opacity: 0;
    width: 0px;
    min-width: 0;
    height: calc(100vh - 41px);
    list-style: none;
    box-sizing: border-box;
    z-index: 99;
    transition: 0.1s ease-in-out width;
    top: 50px;
}

.action-list li:hover {
    background-color: #ccc;
}

li.floating-menu-item-mini-padding {
    padding: 2px 6px;
    height: 30px;
    line-height: 28px;
    border: solid 1px #eee;
}

li.floating-menu-item-mini-padding input {
    margin-top: 2px;
}

li.floating-menu-item-mini-padding input[type=checkbox] {
    float:left;
    margin-top: 4px;
}

li.floating-menu-item-mini-padding div:last-child i {
    float:right;
    margin-right: 0;
    margin-top: 5px;
}

li.floating-menu-item-mini-padding div:first-child i {
    float:left;
    margin-left: 0;
    margin-top: 5px;
}

@media screen and (max-width: 800px) {
    .action-list-open .action-list, .blend-floating-menu.open {
        width: 100%;
    }
}