.accordion {
    background: var(--brighterColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadowDefault);
}

.accordion-head {
    position: relative;
    font-size: 11px;
    font-weight: bold;
    min-height: 40px;
    line-height: 40px;
    padding: 0 var(--paddingDefault);
}

.accordion-open .accordion-head {
    border-bottom: solid 1px #cfcfcf;
}

.accordion-icon {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 200%;
    line-height: 40px !important;
}

.accordion-body {
    padding: 0 var(--paddingDefault);
    transition: var(--animTimeDefault);
    height: 0;
    overflow: hidden;
}

.accordion-open .accordion-body {
    padding: var(--paddingDefault);
    transition: var(--animTimeDefault);;
    height: auto;
    overflow: initial;
}

.accordion-icon:before {
    content: "\f107";
}

.accordion-open .accordion-icon:before {
    content: "\f106";
}