.accordion {
    background: var(--brighterColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadowDefault);
}

.accordion-head {
    min-height: var(--inputHeight);
    line-height: var(--inputHeight);
    padding: 0 var(--paddingDefault);
    font-size: var(--fontSizeSmall);
    position: relative;
    font-weight: bold;
}

.accordion-open .accordion-head {
    border-bottom: solid 1px var(--detailColor);
}

.accordion-icon {
    line-height: var(--inputHeight) !important;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 200%;
}

.accordion-body {
    padding: 0 var(--paddingDefault);
    transition: var(--animTimeDefault);
    height: 0;
    overflow: hidden;
}

.accordion-open .accordion-body {
    padding: var(--paddingDefault);
    transition: var(--animTimeDefault);;
    height: auto;
    overflow: initial;
}

.accordion-icon:before {
    content: "\f107";
}

.accordion-open .accordion-icon:before {
    content: "\f106";
}