.badge {
    background-color: #aaa;
    color: var(--brighterColor);
    border-radius: var(--borderRadius);
    display: inline-block;
    padding: 6px 6px;
    font-size: 90%;
}

.badge.small {
    height: 20px;
    line-height: 20px;
    padding: 2px 6px;
}

.badge.clean {
    color: var(--fontColor);
}