.badge {
    background-color: #aaa;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 6px;
    font-size: 90%;
}

.badge.small {
    height: 20px;
    line-height: 20px;
    padding: 2px 6px;
}