.calendar td {
    width: 14.28%;
    position: relative;
    height: 40px;
    border-left: solid 1px #ddd;
}

.calendar td.today, .gantt .today {
    background-color: #ccc !important;
}

.calendarDay {
    position: absolute;
    top: 4px;
    right: 4px;
    text-shadow: 1px 1px #fff;
}

.calendar.total td {
    padding-bottom: 85px;
}

.calendar .total-day {
    position: absolute;
    bottom: 0;
    width: 90%;
}

.gantt {

}

.gantt td {
    padding: 1px 4px;
    border-bottom: solid 1px #eee;
}

.gantt th {
    padding: 12px 4px;
}

.gantt-last-day-month {
    border-right: solid 4px #fff !important;
}

.gantt-month {
    border-right: solid 4px #fff !important;;
    text-align: center;
}