.combo {
    display: inline-block;
    position: relative;
    margin: 0 !important;
    width: 100%;
}

.combo-edit-btn {
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    float: left;
    width: 36px;
    margin: 0;
    box-sizing: border-box;
}

.combo .labelValue.combo-edit-input {
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    float:right;
    margin-right: 0;
    border-left: none;
}

.combo.hideValue .labelValue.combo-edit-input {
    width: calc(100% - 36px);
}

.combo .inputValue {
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    margin-right: 0;
}

.combo .labelValue {
    width: 78%;
    box-sizing: border-box;
    margin-right: 2%;
    position: relative;
}

.combo:after {
    content: ' ';
    position: absolute;
    right: 3px;
    top: 11px;
    width: 23px;
    height: 12px;
    background-image: url(../theme/img/search.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.combo .dropDownContainer, .combo div.dropDownContainer {
    background-color: var(--brighterColor);
    top: var(--inputHeight);
    box-shadow: var(--boxShadowDefault);
    border: solid 1px var(--detailColor);
    min-width: calc(100% - var(--paddingDefault)) !important;
    margin:0;
    position: absolute;
    z-index: 99;
    max-width: initial;
}

.combo .dropDownContainer div {
    margin:0;
}

.combo .dropDownContainer table {
    width: 100%;
}

.combo .dropDownContainer tr {
    cursor: pointer;
    width: 100%;
}

.combo .dropDownContainer tr:hover {
    background-color: var(--iconColor);
    color: var(--brighterColor);
}

.combo .dropDownContainer tr.selected {
    background-color: var(--iconColor);
    color: var(--brighterColor);;
}

.combo.hideValue .inputValue {
    display: none;
}

.combo.hideValue .labelValue {
    width: 100%;
}