html {
    margin: 0;
    padding:0;
    height: 100%;
    min-height: 100%;
}

html *[onclick] {
    cursor: pointer;
}

body {
    margin:0;
    padding:0;
    vertical-align: baseline;
    line-height: 1;
    display: block;
    height: 100%;
    min-height: 100%;
}

.full-height {
    height: 100%;
    min-height: 100%;
}

div, span, applet, object, iframe
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/*tables*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

caption {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

tfoot {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

thead {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

tr {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

th {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    display: table-cell;
    padding: 2px;
    text-align: left;
}

td {
    border: 0;
    vertical-align: baseline;
    display: table-cell;
    margin: 0;
    padding: 6px;
    text-align: left;
}

thead {
    display: table-header-group;
}

tbody {
    display:table-row-group;
}

/*Headings*/
h1, .h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display:block;
    font-weight: 400;
    font-size: 24px;
    margin: 20px 0;
    line-height: 26px;
    letter-spacing: 1px;
}

h2, .h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display:block;
    font-weight: 400;
    font-size: 20px;
    margin: 18px 0;
    line-height: 24px;
    letter-spacing: 0;
}

h3, .h3 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display:block;
    font-weight: 400;
    font-size: 18px;
    margin: 16px 0;
    line-height:22px;
    letter-spacing: 0;
}

h4, .h4 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display:block;
    font-weight: 400;
    font-size: 16px;
    margin: 14px 0;
    line-height:18px;
    letter-spacing: 0;
}

h5, .h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display:block;
    font-weight: 400;
    font-size: 12px;
    margin: 20px 0;
    line-height:14px;
    letter-spacing: 0;
}

h6, .h6{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    display:block;
    font-weight: 400;
    font-size: 11px;
    margin: 20px 0;
    line-height:12px;
    letter-spacing: 0;
}

/*Placeholder*/
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, input[placeholder], [placeholder], *[placeholder], .placeholder {
    color: #ccc;
}

/*outline from chrome*/
input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 6px #5db6ea;
}

/*input, textarea, button, submit {
    padding:0;
    margin:0;
    font: inherit;
}*/

/*http://www.webtoolkit.info/css-clearfix.html#.UzMB8vldUb8*/
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.fn {
    float: none;
}

.ac {
    text-align: center;
}

.al {
    text-align: left;
}

.aj {
    text-align: justify;
}

.ar {
    text-align: right;
}

/*remove this in future*/
.full {
    width: 99%;
    display: block;
}

.half {
    width: 49%;
    display: inline-block;
}

.third {
    width: 32%;
    display: inline-block;
}

.quart {
    width: 23%;
    display: inline-block;
}

/*end of remove*/

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-in-desktop {
    display: none;
}

.hide-in-mobile {
    display: block;
}

td.hide-in-mobile {
    display: table-cell;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.width {
    max-width: 998px;
    margin: 0 auto;
}

iframe {
    border: none;
}

.develBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0px RGBA(0,0,0,0.5);
    padding: 0 4px;
    border: solid 1px #ccc;
    transition: 0.2s;
    overflow: auto;
    width: 10px;
    height: 10px;
}

.develBar table {
    width: 100%;
}

.develBar table td {
    border: solid 1px #ccc;
}

.develBar table caption {
    font-weight: bold;
    border: solid 1px #ccc;
    padding: 6px;
}

.develBar:hover {
    width: 480px;
    height: 680px;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg);
    filter: gray;
    transition: 0.5s;
}

.grayscale:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.colorColumn {
    width: 22px;
    height: 22px;
}

.var-dump {
}

.column-12, .field-contain.column-12{
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.column-11, .field-contain.column-11 {
    width: 91.66%;
    float: left;
    box-sizing: border-box;
}

.column-10, .field-contain.column-10 {
    width: 83.33%;
    float: left;
    box-sizing: border-box;
}

.column-9, .field-contain.column-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
}

.column-8, .field-contain.column-8{
    width: 66.66%;
    float: left;
    box-sizing: border-box;
}

.column-7, .field-contain.column-5 {
    width: 58.33%;
    float: left;
    box-sizing: border-box;
}

.column-6, .field-contain.column-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.column-5 , .field-contain.column-5{
    width: 41.66%;
    float: left;
    box-sizing: border-box;
}

.column-4 , .field-contain.column-4{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
}

.column-3, .field-contain.column-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
}

.column-2, .field-contain.column-2 {
    width: 16.66%;
    float: left;
    box-sizing: border-box;
}

.column-1, .field-contain.column-1 {
    width: 8.33%;
    float: left;
    box-sizing: border-box;
}

.column-p-12 {
    width: 98%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-11 {
    width: 89.66%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-10 {
    width: 81.33%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-9 {
    width: 73%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-8 {
    width: 64.66%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-7 {
    width: 56.33%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-6, .field-contain .column-6 {
    width: 48%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-5 {
    width: 38.66%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-4 {
    width: 31.33%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-3 {
    width: 23%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-2 {
    width: 14.66%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.column-p-1 {
    width: 6.33%;
    margin: 1%;
    float: left;
    box-sizing: border-box;
}

.site-limit {
    max-width: 960px;
    width: 100%;
}

i.fa.filter-menu {
    position: relative;
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 9px;
    float: right;
    margin-top: 0;
    cursor: pointer;
    background: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: 0.2s ease-in-out;
    max-height: 400px;
    margin-right: 0;
    border-radius: 50%;
}

i.fa.filter-menu:active {
    background: #ccc;
}

i.fa.filter-menu .blend-floating-menu {
    top: 33px;
    right: 6px;
    max-height: 400px;
    overflow-y: auto;
}

i.fa.filter-menu .blend-floating-menu li {
    line-height: 24px;
    position: relative;
}

i.fa.filter-menu .blend-floating-menu li span {
    display: block;
    margin-right: 10px;
}

i.fa.filter-menu .blend-floating-menu li span .fa-trash,
#icon-save-new-item {
    position: absolute;
    margin-right: 0;
    line-height: 22px;
    text-align: center;
    top: 0;
    right: 0px;
    width: 22px;
}

#save-item-new {
    margin-top: 20px;
}

.os-ios {

}

select[readonly]
{
    pointer-events: none;
    touch-action: none;
}

.os-ios select {
    -webkit-appearance: none;
    padding: 0 !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 99% 50%;
}

@media screen and ( max-width: 1250px ) {

    .hide-in-middle {
        display: none !important;
    }
}

/*cell phone*/
@media screen and ( max-width: 800px ) {

    body {
        font-size: 20px;
    }

    .full, .half, .third, .quart {
        width: 99%;
        display: block;
        margin: 0;
        padding: 20px 0;
    }

    .hide-in-desktop {
        display: block;
    }

    td.hide-in-desktop, .grid td.hide-in-desktop {
        display: table-cell;
    }

    .hide-in-mobile, td.hide-in-mobile , .grid td.hide-in-mobile {
        display: none;
    }

    .column-1, .column-2,.column-3, .column-4, .column-5, .column-6, .column-7,.column-8,.column-9, .column-10, .column-11, .column-12,.column-p-1,.column-p-2,.column-p-3,.column-p-4,.column-p-5, .column-p-6,.column-p-7,.column-p-8,.column-p-9,.column-p-10,.column-p-11,.column-p-12,.half {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.grid-tr-detail-column-group {
    box-shadow: 0px 3px 11px -4px inset RGBA(0,0,0,0.5);
}

.grid-tr-detail-column-info {
    width: 25%;
    float: left;
    padding: 2px;
    box-sizing: border-box;
    min-height: 58px;
    height: 40px;
}

.grid-tr-detail-column-label {
    font-weight: bold;
    padding: 6px;
}

.grid-tr-detail-column-value {
    padding: 6px;
}

.slider {
  text-align:center;
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
}

.slider-items {
  width: 99000px;
  position: relative;
  top: 0;
}

.slider-items.shifting {
  transition: left .2s ease-out; 
}

.slide {
  height: 300px;
  cursor: pointer;
  float: left;
  display: inline-block;
  /*transition: all 1s;*/
  position: relative;;
}

.slider-control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 2;
}

.slider-control:active, .slider-control:active {
  transform: scale(0.8);
}

.slider-prev,.slider-next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-prev {
  background-image: url(assets/chevron_left.png);
  left: 0px;
}

.slider-next {
  background-image: url(assets/chevron_right.png);
  right: 0px;
}

@media screen and ( max-width: 1000px ) {
    .grid-tr-detail-column-info {
        width: 50%;
    }

    .grid-tr-detail-column-info {
        padding: 0px;
    }

    .grid-tr-detail-column-label {
        padding: 2px;
    }

    .grid-tr-detail-column-value {
        padding: 2px;
    }
}

button.grid-change-text-size {
    height: 28px;
    line-height: 28px !important;
    font-size: 17px;
    padding: 0 10px;
}

